html,
body {
  background: linear-gradient(211.86deg, #303e48 8.01%, #000000 80.84%);
  padding: 0;
  /* width: 100%; */
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* .main {
  position: relative;
  z-index: 1;
} */

#container1 {
  content: "";
  position: absolute;
  left: 44%;
  width: 20px;
  height: 233%;
  /* background-color: rgb(255, 255, 255); */
  /* background-color: rgba(255, 255, 255, 0.5); */
  top: -800px;
  transform: rotate(-54deg);
  -webkit-transform: rotate(-54deg);
  -moz-transform: rotate(-54deg);
  background: rgba(110, 130, 143, 0.1);
  filter: blur(100px);
}

#container2 {
  content: "";
  position: absolute;
  left: 70%;
  width: 20px;
  height: 200%;
  /* background-color: rgb(255, 255, 255); */
  /* background-color: rgba(255, 255, 255, 0.5); */
  top: -800px;
  transform: rotate(-54deg);
  -webkit-transform: rotate(-54deg);
  -moz-transform: rotate(-54deg);
  background: #6E828F;
  filter: blur(19px);
}

.page-content {
  z-index: 3;
}

.lbl {
  width: 100px;
  display: inline-flex;
}

.mt10 {
  margin-top: 10px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center-x {
  justify-content: center;
}

.flex-center-y {
  align-items: center;
}

.error {
  color: red;
}

.warning {
  color: aqua;
}

a {
  color: inherit;
  text-decoration: none;
}

.company {
  position: relative;
}

.company .title {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  color: white;
}

.company .image:hover {
  border: 1px solid green;
}

.pointer {
  cursor: pointer;
}

.avatar-container {
  position: fixed;
  /* top: 50%; */
  /* left: 50%; */
  width: 510px;
  height: 51px;
  transform: translate(-50px, -50px);
}
.avatar {
  overflow: hidden;
  border-radius: 50%;
  border: solid 1px rgba(0, 150, 136, 0.3);
  width: 50px;
  height: 50px;
  background-size: cover;
  z-index: 2;
  position: absolute;
  cursor: pointer;
}
