
@font-face {
  font-family: 'Porsche Next';
  src:  url('/styles/PorscheNext-Thin.woff2') format('woff2')
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
  margin: 0 auto;
  color: #fff;
  background-color: #303e48;
  background: -webkit-linear-gradient(60deg, #303e48, #000000);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(210deg, #303e48 8%, #000000 80%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-attachment: fixed;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.demo-container {
  /* width: 1024px;
  margin: auto;
  padding: 80px 0; */
  position: relative;
  z-index: 888;
}

.bg-element-1 {
  position: fixed;
  width: 200%;
  height: 300px;
  left: -75%;
  top: 0px;
  background: rgba(110, 130, 143, 0.3);
  filter: blur(100px);
  transform: rotate(20deg);
  z-index: 1;
}
.bg-element-2 {
  position: fixed;
  width: 200%;
  height: 50px;
  left: -30%;
  top: 0px;
  background: rgba(110, 130, 143, 0.6);
  filter: blur(100px);
  transform: rotate(20deg);
  z-index: 1;
}
.bg-element-3 {
  position: fixed;
  width: 200%;
  height: 50px;
  left: -30%;
  top: 0px;
  background: rgba(110, 130, 143, 1);
  filter: blur(5px);
  transform: rotate(20deg);
  z-index: 1;
}

/* @media screen and (max-width: 1024px) {
  .demo-container {
    width: 90%;
  }
} */

/* .main {
  position: relative;
  z-index: 1;
} */

.porsche-font{
  font-family: "Porsche Next";
  font-style: normal;
}

.white{
  color: #ffffff;
}

.page-description {
  font-family: "Porsche Next";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 56px;
}

.page-content {
  z-index: 3;
}

.lbl {
  width: 100px;
  display: inline-flex;
}

.mt10 {
  margin-top: 10px;
}

.ml5 {
  margin-left: 5px;
}

.kpi-title {
  font-family: "Porsche Next";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.ml10 {
  margin-left: 10px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center-x {
  justify-content: center;
}

.flex-center-y {
  align-items: center;
}

.flex-end {
  align-content: flex-end;
  margin-left: auto;
}

.flex-space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.presentation {
  margin-left: 60px;
  /* margin-right: 60px; */
}

.margins {
  margin-left: 60px;
  margin-right: 40px;
}

.margins1 {
  margin-left: 60px;
  margin-right: 60px;
}

.error {
  color: red;
}

.warning {
  color: aqua;
}

a {
  color: inherit;
  text-decoration: none;
}

.company {
  position: relative;
  border: 1px solid grey;
}
.company:hover {
  border: 1px solid black;
}

.company .title {
  position: absolute;
  top: 5px;
  font-family: "Porsche Next";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.avatar-container {
  position: fixed;
  width: 510px;
  height: 51px;
  transform: translate(-50px, -50px);
}

.avatar {
  overflow: hidden;
  border-radius: 50%;
  border: solid 1px rgba(0, 150, 136, 0.3);
  width: 50px;
  height: 50px;
  background-size: cover;
  z-index: 2;
  position: absolute;
  cursor: pointer;
}

.company-container {
  padding: 0;
  margin: 0;
  list-style: none;
  /* border: 1px solid silver; */
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.flex-item {
  margin: 10px;
}

.flex-item .title {
  padding-left: 5px;
  padding-right: 5px;
}

.nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.revenue {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.static {
  position: static;
}

.eSTlnH {
  background-color: transparent !important;
}

.jVeafb {
  background-color: transparent !important;
  color: #fff !important;
  margin-top: 5px!important;
  background: linear-gradient(218.17deg, rgba(59, 81, 96, 0.5) 0.82%, rgba(59, 81, 96, 0.245) 95.35%);
}

.gZWIKX {
  background-color: transparent !important;
  color: #fff !important;
  font-weight: bold;
}

.linebk{
  margin-top: 50px!important;
  background: linear-gradient(218.17deg, rgba(59, 81, 96, 0.5) 0.82%, rgba(59, 81, 96, 0.245) 95.35%);
}

.rdt_TableRow{
  color: #ffffff !important;
  margin-top: 10px!important;
  background: linear-gradient(218.17deg, rgba(59, 81, 96, 0.5) 0.82%, rgba(59, 81, 96, 0.245) 95.35%);
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

/* .rdt_TableHeader{
  font-size: 80px;
} */
